<form [formGroup]="officeHoursForm" (ngSubmit)="formSubmitted()">
  <div class="form-group">
    <div class="row">
      <div class="col">
      <div class="form-group">
        <label for="fromDate">Valid from</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" required
                name="fromDate" formControlName="fromDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        </div>
      </div>
      <div class="col">
      <div class="form-group">
      <label for="toDate">Valid until</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" required
              name="toDate" formControlName="toDate" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>
  <hr class="my-3 invisible">
  <app-office-hours-template name="officeHours" formControlName="officeHours" required></app-office-hours-template>
  <br>
  <button type="submit" class="btn btn-primary" [disabled]="!officeHoursForm.valid">
          Save
  </button>
</form>
