<div class="jumbotron">
  <h1 class="display-4">404 Error</h1>
  <p class="lead">The page you are looking for doesn't exist.</p>
  <button class="btn btn-light" (click)="goBack()">Go back</button>
</div>