<ng-template
  #weekViewHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    #segmentElement
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (mousedown)="startDragToCreate(segment, $event, segmentElement)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>
  </div>
</ng-template>
       
<mwl-calendar-week-view
  [viewDate]="viewDate"
  [events]="events"
  (eventClicked)="eventClicked($event)"
  [dayStartHour]="dayStartHour"
  [dayEndHour]="dayEndHour"
  [weekStartsOn]="weekStartsOn"
  [hourSegmentTemplate]="weekViewHourSegmentTemplate"
  (eventTimesChanged)="eventTimesChanged($event)"
>
</mwl-calendar-week-view>

