.navbar-brand {
    .fa-heartbeat{
        color: hotpink;
    }
}
.navbar-nav {
    .fas, .fa {
        font-size: .9rem;
        margin-right: .1rem;
    }
    #logout {
        cursor: pointer;
    }
}