<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="">
    <i class="fa fa-heartbeat"></i> MedicPIK
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fas fa-home"></i> Home
      </a>
      <a class="nav-item nav-link" routerLink="/appointments" routerLinkActive="active" *ngIf="isPatient()">
        <i class="fas fa-calendar-check"></i> My appointments
      </a>
      <a class="nav-item nav-link" routerLink="/appointment/make" routerLinkActive="active" *ngIf="isPatient()">
        <i class="fas fa-plus-circle"></i> Make appointment
      </a>
      <a class="nav-item nav-link" routerLink="/office-hours/create" routerLinkActive="active" *ngIf="isDoctor()">
        <i class="fas fa-plus-circle"></i> Add office hours
      </a>
      <a class="nav-item nav-link" routerLink="/schedule" routerLinkActive="active" *ngIf="isDoctor()">
        <i class="fas fa-clipboard-list"></i> My schedule
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/edit" routerLinkActive="active" *ngIf="isLoggedIn()">
        <i class="fas fa-user-edit"></i>
        Edit profile
      </a>
      <a class="nav-item nav-link" id="logout" (click)="logout()" *ngIf="isLoggedIn()">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </a>
      <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <i class="fa fa-user"></i>
        Sign up
      </a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <i class="fa fa-user"></i>
        Log in
      </a>
    </div>
  </div>
</nav>
