<div class="jumbotron">
  <h1 class="h3 mb-3 font-weight-normal">Edit profile</h1>
  <form class="form-signup" (ngSubmit)="onSubmit(editForm.form)" #editForm="ngForm" *ngIf="user">
      <div class="form-group">
        <label for="inputFirstname">First name</label>
        <input type="text" id="inputFirstname" name="first" #firstname="ngModel"  [class.is-invalid]="firstname.invalid && (firstname.dirty || firstname.touched)" 
        [(ngModel)]="user.first_name" class="form-control" placeholder="First name" required autofocus>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="invalid-feedback">
          <div *ngIf="firstname.errors?.required">
            First name is required.
          </div>
        </div>

        <label for="inputLastname">Last name</label>
        <input type="text" id="inputLastname" name="last" #lastname="ngModel" [class.is-invalid]="lastname.invalid && (lastname.dirty || lastname.touched)"
        [(ngModel)]="user.last_name" class="form-control" placeholder="Last name" required>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-feedback">
          <div *ngIf="lastname.errors?.required">
            Last name is required.
          </div>
        </div>

        <hr class="mb-3">
        <label for="inputLogin">Login</label>
        <input type="text" id="inputLogin" name="login"
        [(ngModel)]="user.login" class="form-control" placeholder="Login" required autocomplete="login" disabled>

        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" #password="ngModel" [class.is-invalid]="password.invalid && (password.dirty || password.touched)" 
        [(ngModel)]="user.password" class="form-control" placeholder="Password" autocomplete="current-password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors?.required">
            Password is required.
          </div>
        </div>

      </div>
      <hr class="mb-3 invisible">
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!editForm.form.valid && editForm.form.touched">Save changes</button>
    </form>
    <p *ngIf="loading">
        Loading...
    </p>
    <p *ngIf="loadingFailed" class="text-danger">
        Sorry, we couldn't load your data.
    </p>
     <p *ngIf="saving">
        Saving...
    </p>
    <p *ngIf="savingFailed && !saving" class="text-danger">
        Sorry, we couldn't save your data.
    </p>
</div>
