<div class="jumbotron">
    <h1 class="display-4"> Make an appointment </h1>
    <p class="lead">Search for your favorite doctor and make an appointment at the most 
convenient time.</p>
    <hr class="my-4">
    <form (ngSubmit)="onSubmit(appointmentForm.form)" #appointmentForm="ngForm">
      <div class="form-group">
        <label for="searchDoctor">Select a doctor</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon">
              <i class="fas fa-user-md"></i>
            </span>
          </div>
          <input type="text" class="form-control form-control-lg" id="searchDoctor" name="doctor"
                 [class.is-invalid]="searchFailed" [(ngModel)]="selectedDoctor" [ngbTypeahead]="search"
                 (selectItem)="selectedItem($event)" [resultFormatter]="formatter" [inputFormatter]="formatter"
                 placeholder="John Smith" aria-describedby="search-addon" required>
          <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
        <span *ngIf="searching" class="feedback">Searching...</span>
      </div>
    
      <div *ngIf="selectedDoctor">
        <hr class="my-3 invisible">
        <app-select-date [events$]="officeHoursEvents$" [(ngModel)]="selectedEvent" name="event" required></app-select-date>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!appointmentForm.form.valid">
                Make an appointment
        </button>
      </div>
    </form>
    <p *ngIf="saving">
        Saving...
    </p>
    <p *ngIf="savingFailed" class="text-danger">
        Sorry, we were unable to make your appointment.
    </p>
</div>
