<div class="jumbotron">
    <h1 class="display-4"> Create office hours </h1>
    <p class="lead">Below you can define your working hours template.</p>
    <hr class="my-4">
    <app-office-hours-form (onSubmit)="onSubmit($event)"></app-office-hours-form>
    <p *ngIf="saving">
        Saving...
    </p>
    <p *ngIf="savingFailed" class="text-danger">
        Sorry, we were unable to save your daily schedule.
    </p>
</div>
