.bg-green {
    background-color: #e8fde7 !important;
}
.cal-month-view .cal-events {
    display: none;
}
.cal-month-view .cal-day-badge, .bg-green {
    background-color: #51b948;
}
.cal-month-view .cal-day-cell.cal-today, .cal-week-view .cal-header.cal-today {
    background-color: inherit;
}
.cal-week-view .cal-event {
    white-space: normal;
    opacity: .6;
}
.selected-date .cal-event {
    border-width: 1.5px;
    opacity: 1;
}