<div *ngIf="events$ | async; let events">
  <div class="row">
    <div class="col">
      <button
        class="btn btn-light"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <i class="fas fa-chevron-left"></i> Previous
      </button>
    </div>
    <div class="col-md-4 text-center">
      <h3>
        {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
      </h3>
    </div>
    <div class="col">
      <button
        class="btn btn-light float-right"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Next <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="viewDate = $event.day.date; view = CalendarView.Week"
        [weekStartsOn]="weekStartsOn"
        (beforeViewRender)="beforeMonthViewRender($event)"
      >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event)"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [weekStartsOn]="weekStartsOn"
      (dayHeaderClicked)="view = CalendarView.Month"
      (hourSegmentClicked)="view = CalendarView.Month"
    >
    </mwl-calendar-week-view>
    </div>
  </div>