.appointments {
  .appointment {
    &.past {
      color: #6c757d;
      opacity: .6;

      .badge {
        background-color: #6c757d;
      }
    }

    &.canceled {
      text-decoration: line-through;
      opacity: .6;

      .badge {
        text-decoration: line-through;
      }
    }

    .fa-clock {
      margin-right: .2em;
    }

    .badge {
      width: 5em;
      padding: .5em 1em;
      margin-right: .8em;
    }
  }
}
