<div class="jumbotron">
    <h1 class="display-4"> Your appointments </h1>
    <p class="lead">Below you can find all your appointments, both past and upcoming. 
    Click on any to see appointment details.</p>
     <hr class="my-4">


    <div class="list-group appointments">
        <a *ngFor="let appointment of appointments" routerLink="/appointment/{{appointment.id}}"
        class="list-group-item list-group-item-action appointment" 
        [ngClass]="{'past': appointment.isPast(), 'canceled': appointment.canceled}">
            <span class="badge badge-pill badge-primary">
                {{appointment.date_start | date:'dd MMM'}}
            </span>
            Appointment to doctor <b>{{appointment.doctor.fullName()}}</b>
            <span class="float-right text-secondary">
                <i class="far fa-clock"></i>{{appointment.date_start | date:'HH:mm'}}
            </span>
        </a>
        <p *ngIf="loading">
            Loading...
        </p>

        <p *ngIf="!loadingFailed && appointments?.length == 0">
            You don't have any upcoming appointments.
        </p>

        <p *ngIf="loadingFailed" class="text-danger">
            Sorry, we couldn't load your appointments.
        </p>
    </div>
</div>
