<div class="jumbotron">
    <h1 class="display-4"> Your schedule </h1>
    <p class="lead">Take a look to get know with your schedule for upcoming days.</p>
    <hr class="my-4">
    <app-select-date [events$]="scheduleEvents$" [(ngModel)]="clickedEvent" 
    (ngModelChange)="onEventClicked($event)" [view]="CalendarView.Week"></app-select-date>
</div>
