<div class="jumbotron">
  <h1 class="display-4">Welcome to MedicPIK website!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel dictum elit. Ut vel consequat elit.</p>
     <hr class="my-4">
  <p>Vestibulum nisi felis, dignissim nec faucibus in, luctus vitae ipsum. Integer dignissim facilisis enim vitae ultricies. Ut massa nulla, consectetur id posuere sit amet.</p>
  <a class="btn btn-primary btn-lg" routerLink="login" role="button">Log in</a>
</div>