<div class="jumbotron">
  <form class="form-signup" (ngSubmit)="onSubmit(registerForm.form)" #registerForm="ngForm">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <div class="form-group">
        <label for="inputFirstname">First name</label>
        <input type="text" id="inputFirstname" name="first" #firstname="ngModel"  [class.is-invalid]="firstname.invalid && (firstname.dirty || firstname.touched)" 
        [(ngModel)]="patient.first_name" class="form-control" placeholder="First name" required autofocus>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="invalid-feedback">
          <div *ngIf="firstname.errors?.required">
            First name is required.
          </div>
        </div>

        <label for="inputLastname">Last name</label>
        <input type="text" id="inputLastname" name="last" #lastname="ngModel" [class.is-invalid]="lastname.invalid && (lastname.dirty || lastname.touched)"
        [(ngModel)]="patient.last_name" class="form-control" placeholder="Last name" required>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-feedback">
          <div *ngIf="lastname.errors?.required">
            Last name is required.
          </div>
        </div>

        <label for="inputPesel">PESEL</label>
        <input type="text" id="inputPesel" name="pesel" #pesel="ngModel" [class.is-invalid]="pesel.invalid && (pesel.dirty || pesel.touched)"
        [(ngModel)]="patient.pesel" class="form-control" placeholder="80010154321" pattern="[1-9]{1}[0-9]{10}" required>
        <div *ngIf="pesel.invalid && (pesel.dirty || pesel.touched)" class="invalid-feedback">
          <div *ngIf="pesel.errors?.required">
            PESEL is required.
          </div>
          <div *ngIf="pesel.errors?.pattern">
            Incorrect PESEL.
          </div>
        </div>

        <hr class="mb-3">
        <label for="inputLogin">Login</label>
        <input type="text" id="inputLogin" name="login" #login="ngModel" [class.is-invalid]="login.invalid && (login.dirty || login.touched)"
        [(ngModel)]="patient.login" class="form-control" placeholder="Login" required autocomplete="login" [ngModelOptions]="{updateOn: 'blur'}" loginValidator>
        <div *ngIf="login.invalid && (login.dirty || login.touched)" class="invalid-feedback">
          <div *ngIf="login.errors?.required">
            Login is required.
          </div>
          <div *ngIf="login.errors?.uniqueLogin">
            This login is already taken.
          </div>
        </div>
        <div *ngIf="login.pending">Validating...</div>
      
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" #password="ngModel" [class.is-invalid]="password.invalid && (password.dirty || password.touched)" 
        [(ngModel)]="patient.password" class="form-control" placeholder="Password" required autocomplete="current-password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors?.required">
            Password is required.
          </div>
        </div>

      </div>
      <hr class="mb-3 invisible">
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registerForm.form.valid">Sign up</button>
    </form>
    <p *ngIf="saving">
        Saving...
    </p>
    <p *ngIf="savingFailed" class="text-danger">
        Sorry, we were unable to create your account.
    </p>
</div>
