.appointment {
    &.past {
        color: #6c757d;
        opacity: .6;
        
        .badge {
            background-color: #6c757d;
        }
    }
    &.canceled {
        opacity: .6;

        .card-title, .badge, .card-subtitle {
            text-decoration: line-through;
        }
    }
    .card-subtitle {
        font-size: .9rem;
    }
}
.badge {
    padding: .5em 1em;
}
