<div class="jumbotron">
  <h1 class="display-4">Appointment details</h1>
  <hr class="invisible">
  <div *ngIf="appointment" class="card appointment" [ngClass]="{'past': appointment.isPast(), 'canceled': appointment.canceled}">
    <div class="card-body">
      <h5 class="badge badge-pill badge-primary">
          {{appointment.date_start | date:'dd MMM'}}
      </h5>
      <h5 class="card-title">Appointment to doctor {{appointment.doctor.fullName()}}</h5>
      <h6 class="card-subtitle mb-2 text-secondary">
        <span class="mr-2"><i class="far fa-clock"></i> {{appointment.date_start | date:'HH:mm'}}-{{appointment.date_end | date:'HH:mm'}}</span>
        <span class="mr-2"><i class="fas fa-door-open"></i> {{appointment.room}}</span>
      </h6>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel dictum elit. Ut vel consequat elit. </p>
      <hr class="my-3">
      <button (click)="cancelAppointment()" *ngIf="appointment.canBeCanceled()" class="btn btn-outline-danger float-right">Cancel</button>
    </div>
  </div>
  <p *ngIf="loading">
      Loading...
  </p>
  <p *ngIf="loadingFailed" class="text-danger">
      Sorry, we couldn't load this appointment.
  </p>

  <hr class="my-4">
  <button (click)="goBack()" class="btn btn-light">Go back</button>
</div>
